@model Bpms.Models.ViewModels.DailyAttendanceListViewModel

@{
  ViewData["Title"] = "勤怠実績一覧表";
}

<script src="~/js/DailyAttendance/list.js"></script>

<div class="text-center">
  <h1 class="display-4">勤怠実績一覧表</h1>
</div>

<div>
  <h2 class="display-6">社員情報</h2>
  <ul>
    <li>社員ID:00001</li>
    <li>社員名:田中太郎</li>
  </ul>
</div>

<div>
  <p>
    @Html.DropDownListFor(model => model.SelectedYear, Model.YearSelectListItems, null, new { @id="year-select"})
    年
    @Html.DropDownListFor(model => model.SelectedMonth, Model.MonthSelectListItems, null, new { @id="month-select"})
    月
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>取消</th>
        <th>始業時刻</th>
        <th>終業時刻</th>
        <th>実働時間</th>
        <th>勤怠区分</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.DailyAttendances)
      {
      <tr>
        <td><a href="@item.EditPageUrl">@item.Day</a></td>
        <td>@item.DayOfWeek</td>
        <td><button>取消</button></td>
        <td>@item.StartTime</td>
        <td>@item.EndTime</td>
        <td>@item.ActualWorkHours</td>
        <td>@item.Category</td>
      </tr>
      }
    </tbody>
  </table>
</div>
